@charset "UTF-8";
@font-face {
  font-family: 'Euclid Flex';
  src: url("../fonts/EuclidFlex-Regular.woff2") format("woff2"), url("../fonts/EuclidFlex-Regular.woff") format("woff"), url("../fonts/EuclidFlex-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url("../fonts/Helvetica Neue Cyr Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Cyr Black.woff") format("woff"), url("../fonts/Helvetica Neue Cyr Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url("../fonts/Helvetica Neue Cyr Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Cyr Bold.woff") format("woff"), url("../fonts/Helvetica Neue Cyr Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url("../fonts/Helvetica Neue Cyr Roman.woff2") format("woff2"), url("../fonts/Helvetica Neue Cyr Roman.woff") format("woff"), url("../fonts/Helvetica Neue Cyr Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a, img {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  font: inherit;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

button, textarea, select {
  font: inherit;
}

html.scroll-hidden {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html, body {
  margin: 1em 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue Cyr", "Euclid Flex", "sans-serif";
  color: #3D3D3D;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header__row {
  padding-top: 35px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 220px;
  height: 45px;
  position: relative;
  z-index: 3;
}

.header__logo::before {
  content: '';
  position: absolute;
  width: 220px;
  height: 45px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/logo.svg") no-repeat center;
  mask: url("../img/logo.svg") no-repeat center;
  -webkit-mask-size: 220px;
  mask-size: 220px;
  background-color: #050505;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.header__lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
}

.header__lang::after {
  content: url(../img/arrow.svg);
  display: inline-block;
  margin-left: 10px;
}

.header__tel {
  margin-right: 40px;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.header__tel::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/phone.svg") no-repeat center;
  mask: url("../img/phone.svg") no-repeat center;
  -webkit-mask-size: 15px;
  mask-size: 15px;
  background-color: #3D3D3D;
}

.header__burger {
  position: relative;
  width: 27px;
  height: 20px;
  margin-left: 12px;
  padding-right: 80px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__burger:before, .header__burger:after {
  content: '';
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #3D3D3D;
}

.header__burger:before {
  top: 4px;
  width: 27px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header__burger:after {
  top: 13px;
  width: 18px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header__burger.active_burger:before {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header__burger.active_burger:after {
  top: 10px;
  width: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header .header__burger:hover:after {
  width: 27px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.header__list {
  position: absolute;
  left: 0;
  top: -200%;
  z-index: 2;
  width: 100%;
  height: 80%;
  margin-top: 150px;
  background-color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin-bottom: 35px;
  list-style: decimal;
  font-size: 50px;
}

.header__list li:hover {
  text-decoration: line-through;
}

.header__list a {
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  color: #3D3D3D;
  text-transform: uppercase;
}

.header__list.menuactive {
  top: 0;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  overflow: hidden;
}

.header__line {
  margin: 0 40px;
  width: 25px;
  height: 1px;
  background-color: #989898;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 2;
}

body.scroll-hidden {
  overflow: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.ru {
  position: absolute;
  top: -100%;
}

.popup {
  position: relative;
}

.popup__container {
  padding: 50px 40px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: -60px;
  background-color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
}

.popup__container.pop-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.popup__body {
  position: relative;
  z-index: 2;
  width: 400px;
}

.popup__title {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 30px;
}

.popup__form input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(61, 61, 61, 0.8);
  background-color: #fff;
  font-family: "Euclid Flex";
  font-size: 20px;
  line-height: 1em;
}

.popup__form input:first-child {
  margin-bottom: 20px;
}

.popup__button {
  margin: 40px 0 70px 0;
  width: 250px;
  height: 50px;
  background-color: #E12729;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popup__button:hover {
  background-color: #E54446;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popup__button:active {
  background-color: #B91A1B;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.popup__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3D3D3D;
}

.popup__telephone:last-child {
  margin-top: 30px;
}

.popup__phone-svg {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.popup__phone-svg::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/phone.svg") no-repeat center;
  mask: url("../img/phone.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #3D3D3D;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header__title {
  margin-bottom: 40px;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .header__title {
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 95px;
  }
}

@media (max-width: 767px) {
  .header__title {
    font-size: 55px;
    line-height: 65px;
  }
}

.header__text {
  margin-bottom: 60px;
  font-family: "Euclid Flex";
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-align: left;
}

.header__button {
  width: 300px;
  height: 66px;
  background-color: #E12729;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__button:hover {
  background-color: #E54446;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__button:active {
  background-color: #B91A1B;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.header__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 520px;
          flex: 0 0 520px;
  height: 520px;
}

.header__img img {
  min-width: 100%;
}

@media (max-width: 990px) {
  .header__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 420px;
            flex: 0 0 420px;
  }
}

@media (max-width: 800px) {
  .header__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

.header__advantages {
  margin: 40px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.header__items--title {
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.05em;
  text-align: left;
}

.header__items--text {
  font-family: "Euclid Flex";
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__title {
  margin-bottom: 250px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.course__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 23.666px);
          flex: 0 1 calc(33.333% - 23.666px);
  position: relative;
  z-index: 1;
  margin-right: 40px;
}

.course__item:last-child {
  margin-right: 0;
}

.course__img {
  padding-left: 80px;
  position: absolute;
  z-index: 1;
  top: -200px;
  max-width: 100%;
}

.course__img img {
  max-width: 330px;
}

.course__img.-online {
  top: -270px;
}

.card {
  padding: 100px 80px;
  width: 100%;
  height: 680px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: rgba(186, 186, 186, 0.19) 0px 4px 30px 0px;
          box-shadow: rgba(186, 186, 186, 0.19) 0px 4px 30px 0px;
}

.card__title {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
}

.card__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__month-svg {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card__month-svg::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/clock.svg") no-repeat center;
  mask: url("../img/clock.svg") no-repeat center;
  -webkit-mask-size: 30px;
  mask-size: 30px;
  background-color: #3D3D3D;
}

.card__month-text {
  font-family: "Euclid Flex";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0em;
}

.card__week {
  margin-bottom: 20px;
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 20px;
}

.card__time {
  margin-bottom: 45px;
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 20px;
}

.card__start {
  margin-bottom: 20px;
  font-family: "Euclid Flex";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__card__start-time {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.card__person span {
  font-size: 22px;
}

.card__person-line {
  margin-bottom: 60px;
  position: relative;
  height: 22px;
  background-color: #F2F2F2;
}

.card__person-line.-first span {
  width: 80%;
}

.card__person-line.-second span {
  width: 20%;
}

.card__person-line span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%;
  text-align-last: left;
  height: 22px;
  background-color: #3D3D3D;
}

.card__price {
  margin-bottom: 30px;
  font-family: "Euclid Flex";
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__button {
  width: 200px;
  height: 55px;
  border: 1px solid #E12729;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.12em;
  color: #E12729;
  text-transform: uppercase;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.card__button:hover {
  -webkit-box-shadow: 0 0 0 1px #E12729;
          box-shadow: 0 0 0 1px #E12729;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.card__button:active {
  background-color: #B91A1B;
  border: 2px solid #B91A1B;
  color: #fff;
  -webkit-transition: .1s all;
  transition: .1s all;
}

.price-text {
  font-size: 20px;
  letter-spacing: -0.005em;
}

.price-sum {
  font-size: 24px;
}

.more-courses {
  margin: 45px 0 110px 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-text {
  font-size: 17.5px;
  line-height: 17.5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E12729;
}

.courses-svg {
  margin-left: 17px;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.courses-svg::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/arrow.svg") no-repeat center;
  mask: url("../img/arrow.svg") no-repeat center;
  -webkit-mask-size: 21px;
  mask-size: 21px;
  background-color: #E12729;
}

.about__title {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 3px;
  font-weight: 700;
  white-space: nowrap;
}

.about__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img img {
  width: 270px;
  max-width: 100%;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 95px);
          flex: 1 1 calc(50% - 95px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__item:first-child {
  margin-bottom: 60px;
}

.about__item:nth-child(odd) {
  margin-right: 190px;
}

.about__num {
  margin-right: 55px;
  font-size: 150px;
  line-height: 125px;
  color: #989898;
}

.about__body-title {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 39px;
}

.about__body-text {
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .1em;
}

.test {
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test__img {
  margin-bottom: 160px;
  width: calc(50% - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test__img img {
  width: 592px;
  max-width: 100%;
}

.test__body {
  margin-left: 150px;
  width: calc(50% - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.test__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 3px;
}

.test__text {
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .1em;
}

.test__text p:first-child {
  margin-bottom: 10px;
}

.test__text p:last-child {
  margin-bottom: 25px;
}

.test__list {
  margin-bottom: 65px;
  list-style: disc inside;
}

.test__list li {
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .1em;
}

.test__button {
  width: 300px;
  height: 60px;
  background-color: #E12729;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.test__button:hover {
  background-color: #E54446;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.test__button:active {
  background-color: #B91A1B;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.video {
  margin-bottom: 150px;
}

.video__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.video__text {
  margin-bottom: 60px;
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 24px;
  max-width: 750px;
  letter-spacing: 1.5px;
}

.video__container {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.video__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.video__button {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 35px);
  z-index: 3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #E12729;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.video__button::before {
  content: '';
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 7px);
  z-index: 4;
  width: 0px;
  height: 0px;
  border-left: 18px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.video__button:hover {
  background-color: #E54446;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.video__button:active {
  background-color: #B91A1B;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.slider {
  position: relative;
}

.slider__title {
  margin-bottom: 75px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.slider__container {
  margin-bottom: 200px;
  padding: 0 50px;
}

.slider__slide {
  margin-right: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(45%);
          flex: 0 0 calc(45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__image {
  margin-right: 30px;
  max-width: 250px;
}

.slider__image img {
  max-width: 100%;
}

.slider__body-title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 39.5px;
  font-weight: 700;
  letter-spacing: 1px;
}

.slider__body-text {
  margin-bottom: 35px;
  font-family: "Euclid Flex";
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
}

.slider__body-person {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #989898;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(70% - 25px);
  outline: none;
}

.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/arrow-reviews.svg") no-repeat center;
  mask: url("../img/arrow-reviews.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #E12729;
}

.registration__title {
  margin-bottom: 100px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.registration__form input {
  border: none;
  outline: none;
  border-bottom: 4px solid #3D3D3D;
  font-family: "Euclid Flex";
  font-size: 32px;
  line-height: 48px;
  color: #989898;
}

.registration__form input:focus {
  color: #3D3D3D;
}

.registration__form > input {
  margin-bottom: 60px;
  width: 100%;
}

.registration__row {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__row input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 110px);
          flex: 0 0 calc(50% - 110px);
}

.registration__row input:first-child {
  margin-right: 220px;
}

.registration__button {
  margin-bottom: 200px;
  width: 300px;
  height: 60px;
  background-color: #E12729;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
          box-shadow: 4px 10px 50px rgba(218, 25, 27, 0.2);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.registration__button:hover {
  background-color: #E54446;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.registration__button:active {
  background-color: #B91A1B;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  margin-right: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__city {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__city-svg {
  margin-right: 23px;
  position: relative;
  width: 30px;
  height: 30px;
}

.footer__city-svg::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/geo.svg") no-repeat center;
  mask: url("../img/geo.svg") no-repeat center;
  -webkit-mask-size: 21px;
  mask-size: 21px;
  background-color: #3D3D3D;
}

.footer__city-text {
  text-transform: uppercase;
}

.footer__street {
  padding-left: 53px;
  margin-bottom: 65px;
}

.footer__schedule-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__schedule-title-svg {
  margin-right: 23px;
  width: 30px;
  height: 30px;
  position: relative;
}

.footer__schedule-title-svg::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/calendar.svg") no-repeat center;
  mask: url("../img/calendar.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #3D3D3D;
}

.footer__schedule-title-text {
  margin-bottom: 25px;
  white-space: nowrap;
}

.footer__schedule-days {
  margin-bottom: 10px;
}

.footer__schedule-days, .footer__schedule-dayoff {
  padding-left: 53px;
}

.footer__list li {
  margin-bottom: 25px;
}

.footer__list li a {
  color: #3D3D3D;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer__phones a {
  margin-bottom: 15px;
  color: #3D3D3D;
  white-space: nowrap;
  margin-left: 50px;
}

.footer__phones a:first-child {
  margin-left: 0px;
}

.footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__tel-icon {
  width: 30px;
  height: 30px;
  position: relative;
}

.footer__tel-icon::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/phone.svg") no-repeat center;
  mask: url("../img/phone.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #3D3D3D;
}

.footer__tel-text {
  margin-left: 20px;
}

.footer__phones-freecall {
  margin-left: 50px;
  font-size: 12px;
  line-height: 1em;
  color: #989898;
}

.footer__copyright {
  margin-top: 100px;
  padding-bottom: 100px;
  padding-left: 53px;
  color: #989898;
}

.-footer-min-text {
  font-size: 20px;
  line-height: 1em;
}

.-footer-max-font {
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
}
